


<h1> <%= @todo_list.title%> </h1>

<ul class="todo_items" id= "<%= dom_id(@todo_list) %>">
	<% @todo_list.todo_items.each do |item| %>	

		<li id="<%= dom_id(item) %>">  <%= item.content %> 
			<%= link_to "Edit", edit_todo_list_todo_item_path(item) %> <!-- THANKS TO URL_OPTIONS METHOD, I COULD ALSO SAY (@TODO_LIST, ITEM), TO PASS IN THE REQUIRED ID'S-->
		</li>
	<% end %>

</ul>
<p>
<%= link_to "New Todo Item", new_todo_list_todo_item_path(@todo_list)  %>
</p>